---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ColorScript from "../components/ColorScript.astro";
import { Content as AboutContent } from './about.md';
// Get the most recent posts
const allPosts = await Astro.glob('../posts/*.md');
const recentPosts = allPosts
  .sort((a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf())
  .slice(0, 3);
// Get all unique tags
const allTags = [...new Set(allPosts.flatMap(post => post.frontmatter.tags || []))];
---
<html lang="en">
  <head>
    <BaseHead title="Valentin Courtaud" description="Personal website of Valentin Courtaud" />
    <link rel="stylesheet" href="/style/fonts.css" />
    <link rel="stylesheet" href="/style/global.css" />
  </head>
  <body>
    <Header title="Home" />
    <main>
      <section class="intro">
        <AboutContent />
      </section>
      <section class="recent-posts">
        <h2>Here's my most recent posts</h2>
        <ul>
          {recentPosts.map((post) => (
            <li>
              <a href={`/post/${post.frontmatter.slug}`}>
                {post.frontmatter.emoji} {post.frontmatter.title}
                <span class="post-date">{new Date(post.frontmatter.pubDate).toLocaleDateString('en-US', {year: 'numeric', month: 'short', day: 'numeric'})}</span>
              </a>
            </li>
          ))}
        </ul>
        <a href="/posts">View all posts</a>
      </section>
      <section class="tags">
        <h2>View posts by tag</h2>
        <ul>
          {allTags.map((tag) => (
            <li>
              <a href={`/tag/${tag}`}>{tag}</a>
            </li>
          ))}
        </ul>
      </section>
    </main>
    <Footer />
    <ColorScript />
  </body>
</html>
<style>
  .intro {
    margin-bottom: 2rem;
  }
  .intro :global(.my-text) {
    white-space: pre-line;
  }
  .intro :global(blockquote) {
    border-left: 4px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
  }
  .intro :global(blockquote:before) {
    content: none;
  }
  .intro :global(blockquote cite) {
    display: block;
    margin-top: 0.5em;
    font-style: italic;
  }
  .recent-posts h2, .tags h2 {
    text-align: center;
    font-size: 1.2em;
  }
  .recent-posts ul, .tags ul {
    list-style-type: none;
    padding: 0;
  }
  .recent-posts li, .tags li {
    margin-bottom: 0.5rem;
  }
  .post-date {
    font-size: 0.8em;
    color: #666;
  }
</style>