---
import Post from "./Post.astro";
import type { MarkdownInstance } from 'astro';

interface FrontmatterType {
    description: string;
    slug: string;
    title: string;
    tags: string[];
    date: string;
}

const posts = await Astro.glob<FrontmatterType>("../posts/*.md");
const sortedPosts = posts.sort((a, b) => 
    new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf()
);
const featuredPosts = sortedPosts.slice(0, 3);
---

<section>
    {
        featuredPosts.map((post) => (
            <Post
                title={post.frontmatter.title}
                description={post.frontmatter.description}
                slug={post.frontmatter.slug}
                tags={post.frontmatter.tags}
                date={post.frontmatter.date}
            />
        ))
    }
</section>

<style>
    section {
        padding: 1rem;
    }
</style>