---
import { getCollection } from 'astro:content';
import Layout from '../../components/Layout.astro';
import { getBook, Book } from '../../lib/books';

export async function getStaticPaths() {
  const books = await getCollection('books');
  return books.map((book: Book) => ({
    params: { slug: book.slug },
    props: { book },
  }));
}

const { slug } = Astro.params;
const book = getBook(slug);

if (!book) {
  return Astro.redirect('/404');
}
---

<Layout title={book.title}>
  <article>
    <h1>{book.title}</h1>
    <p>By: {book.author} - Read: {book.date} - Rating: {book.rating}/10</p>
    <div set:html={book.summary} />
  </article>
</Layout>