---
import Tags from "../components/Tags.astro";
const { content } = Astro.props;
const { title, description, added, updated, tags, heroImage } = content;
const formattedAdded = added ? new Date(added).toLocaleDateString("en-us", {
    year: "numeric",
    month: "short",
    day: "numeric",
}) : null;
const formattedUpdated = updated ? new Date(updated).toLocaleDateString("en-us", {
    year: "numeric",
    month: "short",
    day: "numeric",
}) : null;
---
<article class="blog-article">
  {heroImage && <img width={720} height={360} src={heroImage} alt="" />}
  <h1 class="article-title">{title}</h1>
  {formattedUpdated ? (
    <span><time>{formattedAdded}</time>, last updated on <time>{formattedUpdated}</time></span>
  ) : (
    <span>{formattedAdded && <time>{formattedAdded}</time>}</span>
  )}
  {tags && tags.length > 0 && <Tags tags={tags} />}
  <hr />
  <div class="blog-post">
    <slot />
  </div>
</article>

<style>
  .blog-article {
    max-width: 90%;
    margin: 0 auto;
  }
  .article-title {
    font-size: 2em;
    margin: 0.25em 0;
  }
  .blog-post {
    font-size: clamp(1rem, 0.96rem + 0.22vw, 1.125rem);
  }
  .blog-post > * + * {
    margin-block-start: 1em;
  }
</style>